<h1>TOP page</h1>
<%= form_with(model: @post, id: 'form', local: true) do |f| %>
  <%= f.text_field :memo, autofocus: 'on' %>
  <%= f.submit 'post', id: 'form' %>
<% end %>

<% @posts.each do |post| %>
  <div style="width: 50%; border: 1px solid #fff; margin-bottom: 10px;">
    <div>
      <%= post.memo %>
    </div>
    <div>
      <%= post.created_at %>
    </div>
  </div>
<% end %>