<h1>TOP page</h1>
<%= form_with(model: @post, id: 'form', local: true) do |f| %>
  <%= f.text_field :memo, autofocus: 'on' %>
  <%= f.submit 'post', id: 'form' %>
<% end %>

<% @posts.each do |post| %>
  <div style="margin: 20px;">
    <div class="post" data-id=<%= post.id %> data-check=<%= post.checked %> >
      <div>
        <%= post.memo %>
      </div>
      <div>
        <%= post.created_at %>
      </div>
    </div>
  </div>
<% end %>