<h1>TOP page</h1>
<%# form_with(model: @post, local: true) do |f| %>
<%= form_with(url: '#', id: 'form') do |f| %>
<%# local: true が無い場合Ajax通信 %>

  <%= f.text_field :memo, id: 'text', autofocus: 'on' %>
  <%= f.submit 'post', id: 'submit' %>
<% end %>

<div id="list">
</div>

<% @posts.each do |post| %>
  <div style="margin: 20px;">
    <div class="post" data-id=<%= post.id %> data-check=<%= post.checked %> >
    <%# どれをクリックしたかを送信する為にカスタムデータ（data-）を付与 %>
      <div>
        <%= post.memo %>
      </div>
      <div class="post-date">
        <%= post.created_at %>
      </div>
    </div>
  </div>
<% end %>
